# IDE and Editor Files
.idea/

# Build and Distribution Files
dist/
build/
q2_classo.egg-info/

# Python Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Files
.ipynb_checkpoints/

# macOS System Files
.DS_Store

# Example and Tutorial Files
example/
example/rename-fastqs.ipynb
tutorial/

# Test Files
q2_classo/test_classo.py
